<h2 mat-dialog-title>{{ product?.name }}</h2>

<mat-dialog-content class="dialog-content">

  <!-- Loading spinner -->
  <div *ngIf="isLoading" class="loading-container">
    <mat-spinner diameter="40"></mat-spinner>
    <p>Loading product details...</p>
  </div>

  <!-- Actual content -->
  <div *ngIf="!isLoading">
    <img src="assets/img/{{ product.imagePath }}" class="product-image mb-3" alt="product image">

    <p><strong>Description:</strong> {{ product.description }}</p>
    <p><strong>Price:</strong> {{ product.price }}</p>

    <div *ngIf="product?.productDetails?.preparationTime != null && product?.productDetails?.productCode != null">
      <p><strong>Preparation Time:</strong> {{ product.productDetails.preparationTime }} min</p>
      <p><strong>Product Code:</strong> {{ product.productDetails.productCode }}</p>
    </div>
  </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
