<div class="change-password-card">
  <h2>Change Password</h2>
  <div class="form-group">
    <label for="oldPassword">Old Password</label>
    <input
      type="password"
      id="oldPassword"
      name="oldPassword"
      [(ngModel)]="oldPassword"
      required
      minlength="6"
    />
  </div>

  <div class="form-group">
    <label for="newPassword">New Password</label>
    <input
      type="password"
      id="newPassword"
      name="newPassword"
      [(ngModel)]="newPassword"
      required
      minlength="6"
    />
  </div>

  <div *ngIf="!errorFromBackend" class="error">{{ errorMessage }}</div>
  <div *ngIf="errorFromBackend" class="error">{{ errorMessageAr }}</div>
  <div *ngIf="errorFromBackend" class="error">{{ errorMessageEn }}</div>

  <button
    type="submit"
    class="submit-button"
    (click)="onChangePassword()"
  >
    Update Password
  </button>
</div>
