/* You can add global styles to this file, and also import other style files */


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackbar-success {
  background-color: #d4edda; /* light green */
  color: #155724; /* dark green text for contrast */
  font-weight: 500;
  border-left: 5px solid #28a745; /* optional */
}
