<div class="login-container">
  <div>
    <h2>Login</h2>

    <div class="form-group">
      <label for="username">Username</label>
      <input
        [(ngModel)]="signInData.username"
        id="username"
        name="username"
        required
        type="text"
        (input)="clear()"
      />
      <div class="error" *ngIf="usernameError!==''">
        {{ usernameError }}
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        [(ngModel)]="signInData.password"
        type="password"
        id="password"
        name="password"
        required
        (input)="clear()"
      />
      <div class="error" *ngIf="passwordError!==''">
        {{ passwordError }}
      </div>
    </div>

    <button type="submit" (click)="onSubmit()">Login</button>

    <!-- Text button to navigate to Sign Up page -->
    <div class="signup-link">
      <span>Don't have an account?</span>
      <a routerLink="/sign-up"> Sign Up</a>
    </div>
    <div class="error-message" *ngIf="errorBackend === true">
      <div class="error-icon">⚠️</div>
      <div class="error-text">
        <div class="error-ar">{{ errorMessageAr }}</div>
        <div class="error-en">{{ errorMessageEn }}</div>
      </div>
    </div>
  </div>
</div>
